@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --blue: #000479;
    --blue-light: #3dc2ff;
    --white: #fff;
    --grey: #fafafa;
    --black1: #222;
    --black2: #999;
    --purple: #b940ff;
    --purple-50: #b940ff88;
    --purple-dark: #7c08be;
    --purple-dark-50: #7c08be88;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* Splashpage */
.hero__body {
    overflow: auto;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to left, var(--blue-light), var(--white), var(--white));
    display: flex;
    flex-direction: column;
}

.hero__header {
    padding: clamp(25px, 5vw, 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, 5vw, 25px);
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--blue);
    text-decoration: none;
}

.logo__icon {
    --ionicon-stroke-width: 2.5rem;
    vertical-align: middle;
    margin-right: 1rem;
}

.hero__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    padding: clamp(25px, 5vw, 50px);
    gap: 25px;
    flex-direction: row;
}

.hero__content {
    max-width: 600px;
    color: var(--black1);
}

.hero__content h1 {
    font-size: clamp(3rem, 10vw, 4rem);
    margin-bottom: 2rem;
}

.hero__content p {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.hero__button {
    display: inline-block;
    border-radius: 9999px;
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: var(--purple);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: 0.4s ease;
}

.hero__button:hover {
    background: var(--purple-dark);
    transition: 0.4s ease;
}

.hero__cta {
    background-color: var(--purple-50);
    border: 1px solid var(--purple-dark-50);
    backdrop-filter: blur(16px) saturate(180%);
}

.wave__spacer {
    aspect-ratio: 960 / 100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave--blue {
    background-image: url("assets/layered-waves-blue-100.svg");
}

.underline--purple {
    font: inherit;
    box-shadow: inset 0 -0.4em var(--purple-50);
}

.hero-card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 500px;
}

.hero-card__card {
    border: solid 1px #eeeeee40;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #fafafa88;
    backdrop-filter: blur(16px) saturate(180%);
}

.hero-card__content {
    color: var(--black1);
}

.hero-card__content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.hero-card__content ul {
    margin-top: calc(1rem - 0.5rem);
    list-style: none;
    gap: 0.5rem;
}

.hero-card__content ul li {
    float: left;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 9999px;
    color: var(--white);
    text-align: center;
}

.hero-card__content ul li:last-child {
    margin-right: 0;
}

#tech {
    background-color: #24b465;
}

#ap {
    background-color: #ff40a9;
}

#example {
    background-color: #1649a8;
}

@media (max-width: 55em) {
    .hero__body {
        background: linear-gradient(to top, var(--blue-light), var(--white), var(--white));
    }

    .hero__container {
        flex-direction: column;
        gap: 100px;
    }
}

@media (max-width: 35em) {
    .logo__text {
        display: none;
    }

    .logo__icon {
        margin-right: 1rem;
    }
}