@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --pull-width: 0px;
  --nav-width: 0px;

  --primary: #cb2036;
  --primary-light: #fee8e8;
  --primary-dark: #8d1625;

  --white: #fff;
  --whiteish: #f6f7f9;
  --blackish: #252525;
  --grite: #ececec;
  --gray: #888;
}

@media only screen and (min-width: 525px) {
  :root {
    --nav-width: 80px;
  }
}

.title {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  color: var(--blackish);
  min-height: 100vh;
  overflow: overlay;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #68686888;
  border: 6px solid transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7b7b7b;
}

::-webkit-scrollbar-thumb:active {
  background-color: #a1a1a1;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

ion-icon {
  pointer-events: none;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  background: var(--primary);
  border-left: 10px solid var(--primary);
  height: 100%;
  overflow: hidden;
  position: fixed;
  transition: all 0.5s ease 0s;
  width: calc(var(--nav-width) + var(--pull-width));
}

.navigation ul {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.navigation ul li {
  border-bottom-left-radius: 32.75px;
  border-top-left-radius: 32.75px;
  list-style: none;
  position: relative;
  width: 100%;
}

.navigation ul li.hovered {
  background: var(--white);
}

.navigation ul li:first-child {
  margin-bottom: 25px;
}

.navigation ul li a {
  color: var(--white);
  display: flex;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.navigation ul li.hovered a {
  color: var(--primary);
}

.navigation ul li a .icon,
.navigation ul li button .icon {
  align-items: center;
  display: flex;
  height: 65.5px;
  justify-content: center;
  line-height: 70px;
  min-width: 60px;
  position: relative;
  text-align: center;
}

.navigation ul li a .icon ion-icon,
.navigation ul li button .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li button {
  color: var(--white);
  display: flex;
  position: relative;
  text-decoration: none;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.navigation ul li.hovered a:before {
  box-shadow: 35px 35px 0 10px var(--white);
  top: -50px;
}

.navigation ul li.hovered a:after,
.navigation ul li.hovered a:before {
  background: transparent;
  border-radius: 50%;
  content: '';
  height: 50px;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 50px;
}

.navigation ul li.hovered a:after {
  bottom: -50px;
  box-shadow: 35px -35px 0 10px var(--white);
}

.logo {
  border-bottom: 1.5px solid var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
}

.main {
  background: var(--white);
  left: calc(var(--nav-width) + var(--pull-width));
  min-height: 100vh;
  position: absolute;
  transition: all 0.5s ease 0s;
  width: calc(100% - var(--nav-width));
}

.top-bar {
  align-items: center;
  background-color: var(--white) !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  display: flex;
  gap: clamp(15px, 5vw, 20px);
  height: 65.5px;
  justify-content: space-between;
  padding: 10px clamp(15px, 5vw, 20px);
  position: fixed;
  width: calc(100vw - var(--nav-width));
  z-index: 9;
}

@media only screen and (max-width: 400px) {
  .top-bar {
    width: 100%;
  }
}

.search {
  align-items: center;
  display: flex;
  flex: 1 1;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

.search i {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.search input {
  border: none;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  height: 100%;
  outline: none;
  padding: 5px 20px 5px 35px;
  width: 100%;
}

.search input::placeholder {
  color: var(--blackish);
}

.search i ion-icon {
  color: var(--blackish);
  font-size: 1.2rem;
  padding: 10px;
}

.user {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  height: 45.5px;
  overflow: hidden;
  position: relative;
  width: 45.5px;
}

.user img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.Course {
  align-content: center;
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  font-size: smaller;
  padding: clamp(15px, 5vw, 20px);
  position: relative;
  text-align: left;
  transition: all 0.5s ease 0s;
}

.Course:target {
  box-shadow: rgba(141, 22, 38, 0.5) 0px 6px 24px 0px,
    rgba(203, 32, 55, 0.75) 0px 0px 0px 2px;
  transition: all 0.5s ease 0s;
}

.Course button.edit {
  background-color: transparent;
  border: none;
  bottom: 0;
  color: var(--blackish);
  cursor: pointer;
  font-size: large;
  margin: 10px;
  position: absolute;
  right: 0;
  visibility: visible;
}

.Course button.jump-id-button {
  background-color: transparent;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: large;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s ease 0s;
  visibility: visible;
}

.Course button.jump-id-button:hover {
  color: var(--primary-dark);
  transition: all 0.5s ease 0s;
}

.parent {
  display: flex;
  gap: clamp(15px, 5vw, 20px);
  /* grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); */
  padding: 0 clamp(15px, 5vw, 20px) clamp(15px, 5vw, 20px);
}

.flex-parent {
  display: flex;
  flex-direction: column;
  gap: clamp(15px, 5vw, 20px);
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .parent {
    grid-template-columns: 1fr;
  }
}

.ClearFilter {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.ClearFilter h1 {
  text-align: center;
}

.clear-results {
  align-items: center;
  background: var(--primary);
  border: none;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  padding: 15px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
}

.clear-results:hover {
  background-color: var(--primary-dark) !important;
  color: var(--white) !important;
  transition: all 0.5s ease 0s;
}

.tag-container {
  display: flex;
  gap: clamp(15px, 5vw, 20px);
  margin: 0 clamp(15px, 5vw, 20px);
  overflow: overlay;
  padding-bottom: clamp(15px, 5vw, 20px);
  padding-top: calc(65.5px + clamp(15px, 5vw, 20px));
}

@media only screen and (min-width: 525px) {
  .tag-container {
    padding-bottom: 34.5px;
    padding-top: 100px;
  }
}

.tag {
  align-items: center;
  background-color: var(--primary-light);
  border: none;
  border-radius: 999px;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px; */
  color: var(--primary-dark);
  cursor: pointer;
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
}

.tag p {
  display: inline;
}

.tag:hover {
  position: relative;
  transition: all 0.5s ease 0s;
}

.tag-true,
.tag:hover,
.tag-all {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.tag-true,
.tag-all {
  flex: 1 1;
  -webkit-transform: rotateX(180deg) scaleY(-1);
  transform: rotateX(180deg) scaleY(-1);
  visibility: visible;
}

button ion-icon {
  font-size: larger;
}

.tag ion-icon {
  margin-right: 5px;
}

.floating-button-container {
  align-items: center;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: fixed;
  right: 30px;
  z-index: 9;
}

.modal {
  align-content: center;
  background-color: var(--white);
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  gap: clamp(15px, 5vw, 20px);
  height: 100%;
  margin: revert;
  max-height: 500px;
  max-width: 500px;
  padding: clamp(15px, 5vw, 20px);
  text-align: left;
  width: 100%;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: clamp(15px, 5vw, 20px);
  height: 100%;
  width: 100%;
}

.modal-input {
  border: none;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  outline: none;
  padding: 15px;
}

.modal-message {
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  height: 100%;
  outline: none;
  padding: 15px;
  resize: none;
}

.modal-field-disable:disabled {
  cursor: not-allowed;
}

.modal-button-container {
  gap: clamp(15px, 5vw, 20px);
}

.modal-send {
  align-items: center;
  background-color: var(--primary);
  border: none;
  border-radius: 999px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex: 1 1;
  padding: 15px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
}

.modal-send:hover {
  background-color: var(--primary-dark);
  color: var(--white);
  transition: all 0.5s ease 0s;
}

.modal-send:disabled {
  background-color: var(--gray);
  color: var(--grite);
  cursor: not-allowed;
  transition: all 0.5s ease 0s;
}

.modal-cancel {
  align-items: center;
  background-color: var(--primary-light);
  border: none;
  border-radius: 999px;
  color: var(--primary-dark);
  cursor: pointer;
  display: flex;
  flex: 1 1;
  padding: 15px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
}

.modal-cancel:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.5s ease 0s;
}

.modal-cancel:disabled {
  background-color: var(--gray);
  color: var(--grite);
  cursor: not-allowed;
  transition: all 0.5s ease 0s;
}

.contact-modal-button {
  align-items: center;
  background-color: var(--primary-light);
  border: none;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  color: var(--primary-dark);
  cursor: pointer;
  display: none;
  height: 45.5px;
  justify-content: center;
  padding: 10px;
  transition: all 0.5s ease 0s;
  width: 45.5px;
}

@media only screen and (min-width: 525px) {
  .contact-modal-button {
    display: flex;
  }
}

.contact-modal-button:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.5s ease 0s;
}

.hide {
  display: none;
}

.jump-to-top {
  align-items: center;
  background-color: var(--primary-light);
  border: none;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  color: var(--primary-dark);
  cursor: pointer;
  display: flex;
  height: 45.5px;
  justify-content: center;
  opacity: 0;
  padding: 10px;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 45.5px;
}

.jump-to-top:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.5s ease 0s;
}

.mobile-navigation {
  align-items: center;
  background-color: var(--white) !important;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -6px 24px 0px;
  display: flex;
  font-size: smaller;
  gap: clamp(15px, 5vw, 20px);
  height: 65.5px;
  justify-content: space-between;
  left: 0;
  padding: 10px clamp(15px, 5vw, 20px);
  position: fixed;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 9;
}

.mobile-navigation-button {
  align-items: center;
  background-color: var(--primary-light);
  border: none;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  color: var(--primary-dark);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  width: 100%;
}

.mobile-navigation-button:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.5s ease 0s;
}

a.mobile-navigation-button {
  background-color: var(--primary);
  color: var(--white);
}

a.mobile-navigation-button:hover {
  background-color: var(--primary-dark);
  color: var(--white);
}

.mobile-contact-modal-button {
  background-color: var(--primary);
  color: var(--white);
}

.mobile-contact-modal-button:hover {
  background-color: var(--primary-dark);
  color: var(--white);
}

@media only screen and (min-width: 525px) {
  .mobile-navigation {
    display: none;
  }
}

.collapsible {
  align-items: center;
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  justify-content: left;
  outline: none;
  text-align: left;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all 0.5s ease 0s;
}

.collapsible:hover {
  color: var(--primary-dark);
  transition: all 0.5s ease 0s;
}

.content-collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.login {
  align-items: center;
  background: var(--primary);
  border: none;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 15px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
}

.login:hover {
  background-color: var(--primary-dark) !important;
  color: var(--white) !important;
  transition: all 0.5s ease 0s;
}

.button {
  align-items: center;
  background-color: var(--primary-light);
  border: none;
  border-radius: 999px;
  color: var(--primary-dark);
  cursor: pointer;
  display: flex;
  flex: 1 1;
  margin-right: 10px;
  margin-top: 1rem;
  padding: 15px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
}

.button:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.5s ease 0s;
}

.button-primary {
  align-items: center;
  background-color: var(--primary);
  border: none;
  border-radius: 999px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  flex: 1 1;
  margin-left: 10px;
  margin-top: 1rem;
  padding: 15px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
}

.button-primary:hover {
  background-color: var(--primary-dark);
  color: var(--white);
  transition: all 0.5s ease 0s;
}

.flex-container {
  display: flex;
}
